<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Welcome to ~schumact!</display-name>
    <description>
     Welcome to Tim's public_html
  </description>
    <servlet>
        <description>Send a 404 to any url mapped to this servlet.</description>
        <servlet-name>NotFoundServlet</servlet-name>
        <servlet-class>tschumacher.webapp.servlet.HideServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotFoundServlet</servlet-name>
        <url-pattern>/.git/*</url-pattern>
        <url-pattern>/.gitignore</url-pattern>
    </servlet-mapping>
</web-app>
